* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    align-items: center;
    justify-content: center;
    text-shadow: 3px;
    height: 50px;
    color: rgba(118, 51, 218, 0.758);
    width: 85vw;
    border: 5px black solid;
    background-color: rgb(222, 222, 144);
    text-align: center;
    align-items: center;
    padding: 10px;
    text-shadow: 5px;
    margin: 15px;
    user-select: none;
 cursor: pointer;
}

#main-div {
    background-color: black;
    height: 550px;
    width: 70vw;
    margin: 15px;
    position: relative;
   
}

#score-div {
    background-color: rgb(95, 200, 200);
    width: 15vw;
    height: 550px;
    margin: 15px;
    display: grid;
    justify-content: center;
}

main {
    display: flex;
}

.papa-div {
    background-color: rgb(226, 245, 245);
    margin: 5px;
    width: 13vw;
}

p {
    margin: 5px;
}

#click-me {
    width: 5vw;
    height: 2vw;
    position: relative;
    background-color: rgb(42, 153, 142);
    border: black solid 2px;
    position: absolute;
    top: 0;
    left: 0;
    animation:spinמer 0s linear  infinite;
    justify-content: center;
    user-select: none;
    cursor:-moz-zoom-in;
}

@keyframes spinמer{
    16%{
        position :absolute;
        transform: rotatez(60deg)
    }
    32%{
        position :absolute;
        transform: rotatez(120deg)
    }
    48%{
        position :absolute;
        transform: rotatez(180deg)
    }
    64%{
        position :absolute;
        transform: rotatez(240deg)
    }
    80%{
        position :absolute;
        transform: rotatez(300deg)
    }
    100%{
        position :absolute;
        transform: rotatez(360deg)
    }
}
h3{
    padding: 5px;
}

